WebContent/wsdl/IMdSharingThirdPartServiceSOAP11port_http.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns0="http://sharing.mdm07.itf.yonyou.com/IMdSharingThirdPartService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0" targetNamespace="http://sharing.mdm07.itf.yonyou.com/IMdSharingThirdPartService">
  <wsdl:types>
    <xsd:schema xmlns:ns="http://sharing.mdm07.itf.yonyou.com/IMdSharingThirdPartService" xmlns:outerSystemRetVO="http://sharing.mdm07.itf.yonyou.com/OuterSystemRetVO" attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:version="2.0" targetNamespace="http://sharing.mdm07.itf.yonyou.com/IMdSharingThirdPartService">
	<xsd:annotation>
    	<xsd:appinfo>
   			<jaxb:schemaBindings>
    			<jaxb:package name="com.yonyou.itf.mdm07.sharing"/>
    		</jaxb:schemaBindings>
   		</xsd:appinfo>
   	</xsd:annotation>
	 <xsd:import namespace="http://sharing.mdm07.itf.yonyou.com/OuterSystemRetVO" schemaLocation="http://localhost/uapws/service/com.yonyou.itf.mdm07.sharing.IMdSharingThirdPartService?xsd=/com/yonyou/itf/mdm07/sharing/OuterSystemRetVO.xsd"/>
	<xsd:element name="getRemoteMdCount">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="string0" type="xsd:string"/>
				<xsd:element minOccurs="0" name="string1" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="getRemoteMdCountResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="return" type="outerSystemRetVO:OuterSystemRetVO"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="distributeMd">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="string0" type="xsd:string"/>
				<xsd:element minOccurs="0" name="string1" type="xsd:string"/>
				<!-- <xsd:element minOccurs="0" name="string2" type="xsd:string"/> -->
				<xsd:element minOccurs="0" name="string3" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="distributeMdResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="return" type="outerSystemRetVO:OuterSystemRetVO"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="loadMd">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="string0" type="xsd:string"/>
				<xsd:element minOccurs="0" name="string1" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="loadMdResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="return" type="outerSystemRetVO:OuterSystemRetVO"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="loadMdBatch">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="string0" type="xsd:string"/>
				<xsd:element minOccurs="0" name="string1" type="xsd:string"/>
				<xsd:element minOccurs="0" name="int2" type="xsd:int"/>
				<xsd:element minOccurs="0" name="int3" type="xsd:int"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="loadMdBatchResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="return" type="outerSystemRetVO:OuterSystemRetVO"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>

   </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loadMdBatchResponse">
    <wsdl:part element="ns0:loadMdBatchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadMdBatchRequest">
    <wsdl:part element="ns0:loadMdBatch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRemoteMdCountRequest">
    <wsdl:part element="ns0:getRemoteMdCount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="distributeMdResponse">
    <wsdl:part element="ns0:distributeMdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="distributeMdRequest">
    <wsdl:part element="ns0:distributeMd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadMdRequest">
    <wsdl:part element="ns0:loadMd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRemoteMdCountResponse">
    <wsdl:part element="ns0:getRemoteMdCountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadMdResponse">
    <wsdl:part element="ns0:loadMdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMdSharingThirdPartServicePortType">
    <wsdl:operation name="getRemoteMdCount">
      <wsdl:input message="ns0:getRemoteMdCountRequest" wsaw:Action="urn:getRemoteMdCount">
    </wsdl:input>
      <wsdl:output message="ns0:getRemoteMdCountResponse" wsaw:Action="urn:getRemoteMdCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="distributeMd">
      <wsdl:input message="ns0:distributeMdRequest" wsaw:Action="urn:distributeMd">
    </wsdl:input>
      <wsdl:output message="ns0:distributeMdResponse" wsaw:Action="urn:distributeMdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMd">
      <wsdl:input message="ns0:loadMdRequest" wsaw:Action="urn:loadMd">
    </wsdl:input>
      <wsdl:output message="ns0:loadMdResponse" wsaw:Action="urn:loadMdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMdBatch">
      <wsdl:input message="ns0:loadMdBatchRequest" wsaw:Action="urn:loadMdBatch">
    </wsdl:input>
      <wsdl:output message="ns0:loadMdBatchResponse" wsaw:Action="urn:loadMdBatchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IMdSharingThirdPartServiceSOAP11Binding" type="ns0:IMdSharingThirdPartServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRemoteMdCount">
      <soap:operation soapAction="urn:getRemoteMdCount" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="distributeMd">
      <soap:operation soapAction="urn:distributeMd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMd">
      <soap:operation soapAction="urn:loadMd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMdBatch">
      <soap:operation soapAction="urn:loadMdBatch" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMdSharingThirdPartService">
    <wsdl:port binding="ns0:IMdSharingThirdPartServiceSOAP11Binding" name="IMdSharingThirdPartServiceSOAP11port_http">
      <soap:address location="http://localhost:8080/ThirdPartAxis/services/IMdSharingThirdPartServiceSOAP11port_http"/>
    </wsdl:port>
  </wsdl:service>
    <jaxws:bindings>
	<jaxws:package name="com.yonyou.itf.mdm07.sharing"/>
</jaxws:bindings>
</wsdl:definitions>
